.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: black 1px solid;

  .nav-item {
    width: 100%;
    text-align: center;
    padding: 5px;
    &.active {
      color: red
    }
  }
}
